<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87085835241-o9llvgpuchanr17fcg2me39gkibubc8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87085835241-o9llvgpuchanr17fcg2me39gkibubc8t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>87085835241-4r188orrs2npr09m64amehc5gfa0jt6o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWUmaUZpAoP_xX2KQJOBJWn4iWUH482Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>87085835241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafaeldias.firebase-auth</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-187ba</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-187ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87085835241:ios:63bac5d2a7ed08fd7ee178</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-187ba.firebaseio.com</string>
</dict>
</plist>